.projects_container {
  width: 100%;
  padding: 7em 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: 1024px) {
  .projects_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 640px) {
  .projects_container {
    grid-template-columns: repeat(1, 1fr);
    padding: 7em 1.4em 0 1.4em;
  }
}