.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.75em;
  .main_about_card {
    display: flex;
    background-color: #F27D72;
    border-radius: .8em;
    .text_content {
      position: relative;
      padding: 6rem 6.75rem;
      color: #fff;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: bottom left;
      h1 {
        font-size: 2.8rem;
        text-transform: capitalize;
        font-weight: normal;
      }
      p {
        margin: 17px 0;
        line-height: 1.75rem;
      }
    }
    .image_content {
      border-radius: 0 .8em .8em 0;
      height: 100%;
    }

    .image_content_world_class {
      border-radius: .8rem 0 0 .8rem;
    }
  }
  .world_class_about_card {
    background-color: #FDF3F0;
    margin: 9em 0;
    .text_content {
      h1 {
        color: #F27D72;
        font-size: 2.25rem;
      }
      p {
        color: #333136;
      }
    }
  }

  .real_deal_card {
    margin: 9em 0 5em 0;
    .text_content {
      h1 {
        text-transform: none;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .main_about_card {
      flex-direction: column-reverse;
      .text_content {
        position: relative;
        padding: 3.5rem 6rem;
        color: #fff;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: bottom left;
        text-align: center;
        h1 {
          font-size: 2.8rem;
          text-transform: capitalize;
          font-weight: normal;
        }
        p {
          margin: 17px 0;
          line-height: 1.75rem;
        }
      }
      picture {
        display: flex;
        .image_content {
          border-radius: .8em .8em 0 0;
          height: 100%;
          width: 100%;
        }
      }
    }

    .world_class_about_card {
      flex-direction: column;
      .text_content {
        h1 {
          color: #F27D72;
          font-size: 2.25rem;
        }
        p {
          color: #333136;
        }
      }
    }

    .real_deal_card {
      flex-direction: column-reverse;
    }
  }
}

@media only screen and (max-width: 640px) {
  .container {
    padding: 0;

    .main_about_card {
      border-radius: 0;
      .text_content {
        position: relative;
        padding: 3rem 1rem;
        color: #fff;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: bottom left;
        text-align: center;
        border-radius: 0 ;
        h1 {
          font-size: 2rem;
          text-transform: capitalize;
          font-weight: normal;
        }
        p {
          margin: 15px 0;
          line-height: 1.75rem;
          font-size: 14px;
        }
      }
      picture {
        display: flex;
        .image_content {
          border-radius: 0;
          height: 100%;
          width: 100%;
        }
      }
    }

    .world_class_about_card {
      margin: 0 0 8em 0;
    }

    .real_deal_card {
      margin: 8em 0 0 0;
    }
  }

  .container.overlay {
    height: 100vh;
    overflow: hidden;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 80%;
      top: 20%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.608);
      z-index: 500;
    }
  }
}