.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.75em;
  .link_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8em 0 0 0;
    gap: 1.75em;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .link_section {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}